.blog-cms-wrapper {
  display: grid;
  grid-template-areas:
    'cms-header'
    'cms-subheader'
    'cms-body'
  ;
  width: 60%;
  margin: 0 auto;
  padding-top: 4rem;
  
  div {
    background: #2e2d35;
    
    &:first-child {
      border-radius: 10px 10px 0 0;
    }
    
    &.blog-cms-header, &.blog-cms-subheader {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-area: cms-header;
      background: #2e2d35;
      height: 60px;
      
      input {
        width: calc(100% - 16px);
        height: calc(100% - 16px);
        padding: 1rem;
        border-radius: 10px;
        font-size: 20px;
      }
    }
    
    &.blog-cms-subheader {
      grid-area: cms-subheader;
    }

    &.blog-cms-body {
      display: flex;
      justify-content: center;
      grid-area: cms-body;
      height: 400px;
      padding-top: 1rem;
      border-radius: 0 0 10px 10px;
      
      textarea {
        width: calc(100% - 16px);
        height: calc(100% - 8px);
        padding: 1rem;
        resize: none;
        border-radius: 10px;
        font-size: 18px;
      }
    }
  }
}