main {
  .main-content {
    position: relative;
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 30px;
      background: linear-gradient(to bottom, #080808, transparent);
    }

    // COVER IMAGE 
    img {
      width: 100%;
      height: auto;
    }
  }
}