.shows-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: white;

  .shows-wrapper {
    width: 60%;
    height: fit-content;

    .shows-output {
      display: flex;

      &:not(:last-child) {
        border-bottom: 1px solid rgb(132, 132, 132);
      }
    }
  }
}