@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

.shop-nav {
  background: #1a1a1be1;
  padding-top: 7rem;
  width: 350px;
  height: 100vh;
  color: white;
}