@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

.category-page-wrapper {
  padding: 7rem 5rem 0;
  height: 100vh;
  width: calc(100vw - 200px);
  background: #141415e1;

  .category-header {
    color: white;
    padding-left: 1rem;
    padding: 1rem 0 1rem 1rem;
    font-family: 'Source Code Pro', monospace;
    font-size: 32px;
  }

  .category-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: scroll;
    
    .product {
      padding: 1rem;
      color: white;
      font-family: 'Source Code Pro', monospace;

      .product-btn {
        color: white;
        text-align: center;
        padding-bottom: 0.8rem;
        margin-top: 0.5rem;
        border: 1px solid white;
        border-radius: 5px;
        transition: 0.3s ease-in-out;

        a {
          color: white;
          text-decoration: none;
        }

        &:hover {
          background: white;

          a {
            color: black;
          }
        }
      }
      
      img {
        width: 250px;
        height: 250px;
        border-radius: 8px;
      }
      
      h1 {
        padding-top: .8rem;
        font-size: 22px;
      }
      
      p {
        padding-top: .2rem;
        font-size: 20px;
      }
    }
  }
}