header {
  padding: .2rem 2rem;

  .logo {
    background: url('../../assets/tfp-logo.png') no-repeat;
    background-size: contain;
    background-position: center;
    height: 80px;
    width: 500px;
  }
}