@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #080808;
  padding: .5rem 3rem;
  width: 100%;
  opacity: 0.9;
  z-index: 5;

  .logo {
    background: url('../../assets/tfp-logo.png') no-repeat;
    background-size: contain;
    background-position: center;
    height: 80px;
    width: 500px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .main-nav {
    display: flex;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 1.7px;
      
    li, a {
      text-decoration: none;
      list-style-type: none;
      color: white;
      transition: 0.2s ease-in-out;
        
      &:hover {
        color: rgba(255, 255, 255, 0.494);
      }
    }
      
    li:not(:last-child) {
      margin-right: 2rem;
    }
  }

  .hamburger {
    display: none;
    cursor: pointer;

    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: white;
    }
  }
}